<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    Edit: <%= contact.firstname %> <%= contact.lastname %>
  </div>

  <form class="ui form" action="/contacts/<%= contact._id %>?_method=PUT" method="POST">
    <div class="field ">
      <label>First Name</label>
      <input type="text" name="contact[firstname]" value="<%= contact.firstname %>">
    </div>
    <div class="field ">
      <label>Last Name</label>
      <input type="text" name="contact[lastname]" value="<%= contact.lastname %>">
    </div>
    <div class="field ">
      <label>Home Phone</label>
      <input type="text" name="contact[phonehome]" value="<%= contact.phonehome %>">
    </div>
    <div class="field ">
      <label>Cell Phone</label>
      <input type="text" name="contact[phonecell]" value="<%= contact.phonecell %>">
    </div>
    <div class="field ">
      <label>Work Phone</label>
      <input type="text" name="contact[phonework]" value="<%= contact.phonework %>">
    </div>
    <div class="field ">
      <label>Primary Email</label>
      <input type="text" name="contact[emailprimary]" value="<%= contact.emailprimary %>">
    </div>
    <div class="field ">
      <label>Secondary Email</label>
      <input type="text" name="contact[emailsecondary]" value="<%= contact.emailsecondary %>">
    </div>
    <div class="field ">
      <label>Note (html tags ok)</label>
      <textarea name="contact[note]"><%= contact.note %></textarea>
    </div>
      <input class="ui big green basic button" type="submit">
  </form>
</div>
<% include ./partials/footer %>
